article(class="personal-data personal-data--subscribe")
  h2.personal-data__title Подписки и уведомления
  div(class="personal-data__block personal-data__block--subscribe subscribe")
    each item in getData('subscribe')
      label(class="subscribe__label checkbox-label" for="subscribe-"+item.via)
        input(type="checkbox" name="subscribe" class="subscribe__input checkbox-input" id="subscribe-"+item.via checked)
        | Оповещать меня о текущх акциях по #{item.via}
        include ../checkbox/checkbox
