.subscribe__label
  display block
  font-size $BASE_SIZE
  line-height 14px
  margin-top 8px
  margin-bottom 4px
input[type="checkbox"]
  height 18px
  width 18px
  margin-bottom 3px
  margin-right 10px
  vertical-align middle
  border-radius 0
