article.socials
  h2.socials__title Социальные сети
  p.socials__description Привяжите учетную запись социальной сети и используйте ее для входа
  .socials__buttons-block
    each item in getData('socials')
      a(href="#" class="socials__link socials__link--"+item.abbr)= item.network

  //- svg(width="40" height="40")
  //-   use(xlink:href="#icon-business")