.socials
  box-sizing border-box
  background-color #fff6e0
  padding-left 20px
  padding-right 20px
  padding-bottom 20px
  padding-top 14px
  margin-top 45px
  margin-left auto
  margin-right auto
  width 100%
  max-width 600px
.socials__title
  font-family $FONT-FAMILY__MAIN-TITLE
  font-size $BASE_SIZE
  text-transform uppercase
.socials__description
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  line-height 16px
  margin-bottom 23px
.socials__link
  display block
  font-family $FONT-FAMILY
  font-size $BASE_SIZE
  text-decoration none
  color #fff6e0
  padding-top 12px
  padding-bottom 12px
  padding-left 55px
  margin-bottom 15px
.socials__link--fb
  background-color #1d59a3
  position relative
.socials__link--fb:after
  content ""
  position absolute
  display block

.socials__link--vk
  background-color #1c608d
  position relative
.socials__link--vk:after
  content ""
  position absolute
  display block

.socials__link--tw
  background-color #00b2e6
  position relative
.socials__link--tw:after
  content ""
  position absolute
  display block

.socials__link--ok
  background-color #ef7800
  position relative
.socials__link--ok:after
  content ""
  position absolute
  display block
