.socials
  position relative
  box-sizing border-box
  background-color #fff6e0
  padding-left 19px
  padding-right 20px
  padding-bottom 20px
  padding-top 15px
  margin-left auto
  margin-right auto
  width 100%
  max-width 600px

  +above(1050px)
    position absolute
    right 19px
    top 57px
    max-width 291px
    
  +below(1049px)
    margin-top 60px

  &__title
    font-family $FONT-FAMILY__MAIN-TITLE
    font-size $BASE_SIZE
    text-transform uppercase
    letter-spacing 0.3px
    margin-bottom 14px

  &__description
    font-family $FONT-FAMILY
    font-size $BASE_SIZE - 2
    line-height 16px
    margin-bottom 20px

  &__buttons-block
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-content center

  &__button
    padding 0
    margin 0
    border none
    background-color transparent

  &__link
    display block
    font-family $FONT-FAMILY
    font-size $BASE_SIZE
    text-decoration none
    color #fff6e0
    text-align left
    padding-top 12px
    padding-bottom 1px
    padding-left 55px
    margin-bottom 15px
    opacity 1
    transition opacity 0.1s linear

    +below(1049px)
      max-width 300px
      margin-left auto
      margin-right auto
      text-align center
      padding-left 0
  
  &__link:hover
    opacity 0.7
    color #fff6e0
      
  &__link--fb
    background-color #1d59a3
    position relative
    padding-bottom 10px
    &:before
      content ''
      display block
      position absolute
      vertical-align middle
      sprite($s-fb)
      bottom 10px
      left 21px

  &__link--vk
    background-color #1c608d
    position relative
    padding-bottom 10px
    &:before
      content ''
      display block
      position absolute
      vertical-align middle
      sprite($s-vk)
      bottom 12px
      left 13px

  &__link--tw
    background-color #00b2e6
    position relative
    padding-bottom 10px
    &:before
      content ''
      display block
      position absolute
      vertical-align middle
      sprite($s-tw)
      bottom 10px
      left 15px

  &__link--ok
    background-color #ef7800
    position relative
    padding-bottom 10px
    &:before
      content ''
      display block
      position absolute
      vertical-align middle
      sprite($s-ok)
      bottom 10px
      left 20px
