article(class="personal-data personal-data--name")
  h2.personal-data__title Личные данные
  form(action="#" class="personal-data__form personal-data__form--name" method="post")
    div(class="personal-data__item" id="data-name")
      input(type="text" class="personal-data__input" placeholder="Имя" value="" id="name" disabled)
      span(class="personal-data__change personal-data__change--change" id="change-name") изменить
      span(class="personal-data__change personal-data__change--save" id="change-name") сохранить
    div(class="personal-data__item" id="data-surname")
      input(type="text" class="personal-data__input" placeholder="Фамилия" value="" id="surname" disabled)
      span(class="personal-data__change personal-data__change--change" id="change-name") изменить
      span(class="personal-data__change personal-data__change--save" id="change-name") сохранить
    div(class="personal-data__item" id="data-patronimic" )
      input(type="text" class="personal-data__input" placeholder="Отчество" value="" id="patronimic" disabled)
      span(class="personal-data__change personal-data__change--change" id="change-patronimic") изменить
      span(class="personal-data__change personal-data__change--save" id="save-patronimic") сохранить
    div(class="personal-data__item" id="birth-date" )
      input(type="text" class="personal-data__input" placeholder="Дата рождения" value="" id="birth-date" disabled)
      span(class="personal-data__change personal-data__change--change" id="change-birth-date") изменить
      span(class="personal-data__change personal-data__change--save" id="save-birth-date") сохранить
