.address__form
  border 1px solid #d5d5d5
  padding-top 15px
  padding-right 20px
  padding-bottom 30px
  padding-left 20px
  box-sizing border-box
  position relative
  background-color #ffffff
.address__title
  margin-top 0px
  font-size $BASE_SIZE
  font-family $FONT-FAMILY
  font-weight normal
  margin-bottom 21px
.address__block
  position relative
  padding 0
  margin 0
.address__label
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  position relative
  margin-bottom 8px
  padding-right 10px
  border 1px solid
  border-color transparent
  display inline-block
  width 75%
  background-color #ffffff
#address1
  border-bottom-color transparent
.address__remove
  font-size $BASE_SIZE - 2
  color #e85a22
  position absolute
  right 0px
  top 8px
  text-decoration underline
  display none
  cursor pointer
.address__remove:visited
  color #aaaaaa
.address__remove-btn
  display none
  cursor pointer
.address__add-btn
  margin-top 20px
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  color #fff
  padding-top 8px
  padding-bottom 5px
  padding-left 18px
  padding-right 18px
  margin-top 4px
  background-color #cdc9c7
  border none
  border-bottom 2px solid #bcb8b6
input[type="radio"]
  height 17px
  width 17px
  margin-bottom 5px
  margin-right 3px
  vertical-align middle
.address__add
  background-color #f4f4f4
  border 1px solid #d5d5d5
  padding-right 20px
  padding-bottom 30px
  padding-left 20px
  box-sizing border-box
  max-width 600px
.address__title-add
  text-transform uppercase
.address__add-input
  border-left none
  border 1px solid #d5d5d5
  padding 8px 10px
  width 100%
  margin-bottom 10px
.address__add-city
.address__add-country
  border 1px solid #d5d5d5
  padding 8px 10px
  width 100%
  margin-bottom 10px
.address__add-btn--orange
  background-color #e85a22
  border-bottom #cb4815
  display inline-block
  float right
  margin-top 15px
  padding-left 50px
  padding-right 50px
#add-address-block
  display none
