.address__form
  border 1px solid #d5d5d5
  padding-top 15px
  padding-right 20px
  padding-bottom 30px
  padding-left 20px
  box-sizing border-box
  position relative
  background-color #ffffff
.address__title
  margin-top 0px
  font-size $BASE_SIZE
  font-family $FONT-FAMILY
  font-weight normal
  margin-bottom 16px
.address__block
  position relative
  padding 0
  margin 0
  +below(674px)
    display flex
    align-items: baseline;
.address__label
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  padding-right 10px
  padding-top 6px
  padding-bottom 6px
  padding-left 10px
  border 1px solid transparent
  display inline-block
  width 78%
  +below(674px)
    width 65%
  +below(360px)
    width 55%
#address1
  border-bottom none
.address__remove
  font-size $BASE_SIZE - 2
  color #e85a22
  position absolute
  right 0px
  top 8px
  text-decoration underline
  display none
  cursor pointer
    +below(674px)
      display none
.address__remove:visited
  color #aaaaaa
.address__remove-btn
  display none
  cursor pointer
  +below(674px)
    margin-left 15px
.address__add-btn
  margin-top 20px
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  color #fff
  padding-top 8px
  padding-bottom 5px
  padding-left 18px
  padding-right 18px
  margin-top 4px
  background-color #cdc9c7
  border none
  border-bottom 2px solid #bcb8b6
input[type="radio"]
  height 17px
  width 17px
  margin-bottom 5px
  margin-right 3px
  vertical-align middle
.address__add
  background-color #f4f4f4
  border 1px solid #d5d5d5
  padding-right 20px
  padding-bottom 68px
  padding-left 20px
  margin-left auto
  margin-right auto
  max-width 565px
  display none
  position relative
  +above(1049px)
    margin-left 0
  +below(674px)
    display flex
    flex-direction column

.address__title-add
  text-transform uppercase
  font-size 12px
  margin-top 12px
.address__add-input
  border-left none
  border 1px solid #d5d5d5
  padding 5px 10px
  margin-bottom 10px
  +below(674px)
    width 100%
    box-sizing border-box
.address__add-input--address
  +above(674px)
    width 100px
    min-width 540px
.address__add-city
.address__add-country
  border 1px solid #d5d5d5
  padding 5px 7px
  width 100%
  margin-bottom 10px

  +above(675px)
    display inline-block
    max-width 175px

.address__add-country
.address__add-city
  +above(675px)
    margin-left 11px
.address__add-btn--orange
  background-color #e85a22
  border-bottom #cb4815
  margin-top 15px
  padding-left 50px
  padding-bottom 7px
  padding-right 50px
  position absolute
  bottom 30px
  right 20px
  +below(674px)
    width 100%
    position relative
    top 0
    right 0
