.personal-data
  width 100%
  &__form
    max-width 606px

    +below(1050px)
      margin-left auto
      margin-right auto

  &__form--name
    margin-bottom 47px

  &__form--contacts
    margin-bottom 45px

  &--subscribe
    margin-top 41px

  &__title
    font-size $BASE_SIZE+4
    font-weight normal

    +below(1050px)
      text-align center

  &__input
    display block
    font-size $BASE_SIZE
    font-family $FONT-FAMILY
    padding-top 4px
    padding-bottom 4px
    padding-left 8px
    padding-right 20px
    border 1px solid #d5d5d5
    position relative
    max-width 300px

    +below(640px)
      width 65%

  input:disabled
    background-color #ffffff
    border 1px solid transparent

  &__item
    position relative
    padding-top 10px
    padding-bottom 10px
    padding-left 10px
    border 1px solid #d5d5d5
    border-bottom none

  &__change
    font-size $BASE_SIZE - 2
    color #aaaaaa
    position absolute
    right 18px
    top 17px
    cursor pointer
    text-decoration underline

  &__change:visited
    color #aaaaaa

  &__change:hover
    color #e85a22

  &__change--save
    display none
    color #e85a22

  &__item:last-child
    border-bottom 1px solid #d5d5d5
