.personal-data__form
  max-width 600px
.personal-data__form--name
  margin-bottom 23px
.personal-data__form--contacts
  margin-bottom 23px
.personal-data__title
  font-size $BASE_SIZE+4
  font-weight normal
.personal-data__input
  display block
  width 60%
  font-size $BASE_SIZE
  font-family $FONT-FAMILY
  padding-top 5px
  padding-bottom 5px
  padding-left 10px
  padding-right 20px
  border 1px solid #d5d5d5
  position relative
input:disabled
  background-color #ffffff
  border 1px solid transparent
.personal-data__item
  position relative
  padding-top 10px
  padding-bottom 10px
  padding-left 10px
  border 1px solid #d5d5d5
  border-bottom none
.personal-data__change
  font-size $BASE_SIZE - 2
  color #aaaaaa
  position absolute
  right 10px
  top 18px
  cursor pointer
  text-decoration underline
.personal-data__change:visited
  color #aaaaaa
.personal-data__change:hover
  color #e85a22
.personal-data__change--save
  display none
  color #e85a22
.personal-data__item--birth-date
.personal-data__item--password
  border-bottom 1px solid #d5d5d5
.address__form
  border 1px solid #d5d5d5
  padding-top 15px
  padding-right 20px
  padding-bottom 30px
  padding-left 20px
  box-sizing border-box
  position relative
  background-color #ffffff
input[type="checkbox"]
  height 17px
  width 17px
  margin-bottom 5px
  margin-right 8px
  vertical-align middle
  border-radius 0
.address__title
  margin-top 0px
  font-size $BASE_SIZE
  font-family $FONT-FAMILY
  font-weight normal
.address__block
  position relative
  padding 0
  margin 0
.address__label
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  line-height 30px
  position relative
  padding-left 10px
  padding-right 10px
  border 1px solid
  border-color transparent
  display inline-block
  width 75%
  background-color #ffffff
#address1
  border-bottom-color transparent
.address__remove
  font-size $BASE_SIZE - 2
  color #e85a22
  position absolute
  right 0px
  top 8px
  text-decoration underline
  display none
  cursor pointer
.address__remove:visited
  color #aaaaaa
.address__remove-btn
  display none
  cursor pointer
.address__add-btn
  margin-top 20px
  font-family $FONT-FAMILY
  font-size $BASE_SIZE - 2
  color #fff
  padding-top 7px
  padding-bottom 8px
  padding-left 15px
  padding-right 15px
  background-color #cdc9c7
  border-bottom 2px solid #bcb8b6
input[type="radio"]
  height 17px
  width 17px
  margin-bottom 5px
  margin-right 8px
  vertical-align middle
.address__add
  background-color #f4f4f4
  border 1px solid #d5d5d5
  padding-right 20px
  padding-bottom 30px
  padding-left 20px
  box-sizing border-box
  max-width 600px
.address__title-add
  text-transform uppercase
.address__add-input
  border-left none
  border 1px solid #d5d5d5
  padding 8px 10px
  width 100%
  margin-bottom 10px
.address__add-city
.address__add-country
  border 1px solid #d5d5d5
  padding 8px 10px
  width 100%
  margin-bottom 10px
.address__add-btn--orange
  background-color #e85a22
  border-bottom #cb4815
  display inline-block
  float right
  margin-top 15px
  padding-left 50px
  padding-right 50px
#add-address-block
  display none
