block vars
include ../../__config/variables
include ../../__config/mixins

doctype html
html(lang="ru").no-js
    include head
    body
        main
            include ../header/header
            block block-content

            include ../footer/footer

            // [ START ] Скрипты проекта
            -for(var j = 0 ; j < scriptsProject.length; j++)
                script(src=`${SCRIPTS_DIR}${scriptsProject[j]}`)

            -for(var k = 0 ; k < scriptsModules.length; k++)
                script(src=`${SCRIPTS_DIR}${scriptsModules[k]}`)
            // [END] Скрипты проекта