.settings
  font-family $FONT-FAMILY
  box-sizing border-box
  background-color #fff
  margin 0 auto
  max-width 965px
  padding-left 26px
  padding-right 35px
  padding-top 7px
  padding-bottom 75px
  border-left 1px solid #d5d5d5
  position relative
  display flex
  flex-direction column
  justify-content space-between
  &:before
    content ""
    position absolute
    display block
    bottom 0px
    left 2px
    width 1px
    height 100%
    background-color #d5d5d5
  &:after
    content ""
    position absolute
    display block
    bottom 0px
    left 5px
    width 1px
    height 100%
    background-color #d5d5d5
.settings__title
  font-size $BASE_SIZE+10
  font-family $FONT-FAMILY__MAIN-TITLE
  text-transform uppercase
  margin-bottom 25px
