section.settings
  div.container
    h1.settings__title Мои настройки
    include ../personal-data/personal-data
    include ../address/address
    include ../socials/socials
    include ../subscribe/subscribe
            
            
            
