section.settings
  div.container
    include ../personal-data-name/personal-data-name
    include ../personal-data-contact/personal-data-contact
    include ../personal-data-address/personal-data-address
    include ../socials/socials
    article(class="personal-data personal-data--subscribe")
      h2.personal-data__title Подписки и уведомления
      form(action="" class="personal-data_form personal-data__form--subscribe")
        label(class="subscribe-label" for="subscribe-email")
          input(type="checkbox" name="subscribe" class="personal-data__input--subscribe" id="subscribe-email")
          |Оповещать меня о текущх акциях по e-mail
        label(class="subscribe-label" for="subscribe-sms")
          input(type="checkbox" name="subscribe" class="personal-data__input--subscribe" id="subscribe-sms")
          |Оповещать меня о текущих акциях по sms
            
            
            
