section.settings
  div.container
    include ../personal-data-name/personal-data-name
    include ../personal-data-contact/personal-data-contact
    include ../personal-data-address/personal-data-address
    include ../socials/socials
    include ../subscribe/subscribe
            
            
            
